{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block main %}

<div class="example-wrapper">
  <h1>Hello {{ title }}!</h1>
  <p class="btn btn-primary">test</p>
</div>

{% endblock %}
