{% extends "base.html.twig" %} {% block title %}{{ title }}{% endblock %} {%
block main %}

<main class="container mt-5">
  <section class="text-center">
    <h1 class="fw-bold">Politique de Confidentialité & RGPD</h1>
    <p class="lead">
      Découvrez comment nous protégeons vos données personnelles.
    </p>
  </section>

  <section class="mt-5">
    <h2>Collecte et Utilisation des Données</h2>
    <p>
      Novarca s'engage à respecter la confidentialité des informations
      collectées auprès de ses clients et visiteurs. Les données personnelles
      collectées peuvent inclure votre nom, votre adresse e-mail, et d'autres
      informations nécessaires au bon fonctionnement de nos services.
    </p>
  </section>

  <section class="mt-5">
    <h2>Vos Droits</h2>
    <p>
      Conformément au Règlement Général sur la Protection des Données (RGPD),
      vous avez le droit d'accéder, de rectifier et de supprimer vos données
      personnelles. Pour toute demande, veuillez nous contacter via notre
      formulaire de contact.
    </p>
  </section>

  <section class="mt-5">
    <h2>Protection des Données</h2>
    <p>
      Nous mettons en place des mesures de sécurité pour garantir la protection
      de vos données contre tout accès non autorisé, modification ou
      divulgation.
    </p>
  </section>
</main>

{% endblock %}
