@use "../abstracts/" as *;

.custom-card {
  transition: transform 0.3s ease;
  &:hover {
    // transform: translateY(-5px);

    & .card-overlay-gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        to top,
        rgba(33, 37, 41, 1),
        rgba(33, 37, 41, 0)
      );
      z-index: 1;
    }

    & .card-img-container img {
      transform: scale(1.05);
    }
  }
}

.card-img-container {
  position: relative;
  overflow: hidden;

  & img {
    transition: transform 0.5s ease;
  }
}

.custom-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: 2;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-separator {
  width: 40px;
  height: 3px;
  background-color: $primary;
  margin: 0 auto;
}

.btn-custom {
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;
  border-width: 2px;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}
